Source: python-marshmallow
Maintainer: Pexip AS <packaging@pexip.com>
XSBC-Pexip-Original-Maintainer: Federico Ceratto <federico@debian.org>
Section: python
Priority: optional
Build-Depends: debhelper-compat (= 13)
Build-Depends-Indep:
 dh-python,
 python3-all,
 python3-dateutil,
 python3-pytest,
 python3-setuptools,
 python3-simplejson,
 python3-sphinx,
 python3-tz
Standards-Version: 4.6.0
Rules-Requires-Root: no
Homepage: https://github.com/marshmallow-code/marshmallow
Vcs-Browser: https://salsa.debian.org/debian/python-marshmallow
Vcs-Git: https://salsa.debian.org/debian/python-marshmallow.git
Testsuite: autopkgtest-pkg-python
XS-Pexip-Upstream: http://ftp.debian.org/debian/ bookworm

Package: python3-marshmallow
Architecture: all
Depends: ${misc:Depends}, ${python3:Depends}
Description: Lightweight library for converting complex datatypes
 An ORM/ODM/framework-agnostic library for converting complex datatypes,
 such as objects, to and from native Python datatypes.

Package: python3-marshmallow-doc
Architecture: all
Section: doc
Depends: ${misc:Depends}, ${sphinxdoc:Depends},
 libjs-jquery,
 libjs-underscore
Description: Library for converting complex datatypes - documentation
 An ORM/ODM/framework-agnostic library for converting complex datatypes,
 such as objects, to and from native Python datatypes.
 Documentation package.
